body{
    background-image: url(img/lila.jpg);
    background-repeat: no-repeat;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
 img{
    border: 5px solid white;
    width: 200px;
    height: 250px;
 }
 h1{
    color: #b9b5be;
    text-align: center;
 }